.body{
    background-image:url("background.jpeg");
    background-size:cover;
    background-position:-150px;
    background-repeat:no repeat;
}
.l{
    width: 120px;
    margin-top: 10px;
    margin-left:37px;
}
.list1{
    list-style:none;
    margin-left:319px;
    margin-top:-17px;
}
.li1{
    color: white;
    display:inline;
    margin-left: 30px;
    font-family:"Gotham";
    font-size:14px;
    font-weight:bold;
}
@font-face {
    font-family:"Gotham";
    src:url("Gotham.woff2");
}
.list2{
    list-style:none;
    margin-left:1035px;
    margin-top:-35px;
}
.p1{
    margin-left: 590px;
    margin-top: 70px;
    color:white;
    font-size: 40px;
    font-weight: bold;
    font-family: "Gotham";
}
.p2{
    margin-left: 570px;
    margin-top: -30px;
    color:white;
    font-size: 17px;
    font-family: "Gotham";
    text-decoration: underline;
}
.d1{
    height:90px;
    width: 759px;


    margin-left: 320px;
    margin-top:327px;
}
.list3{
    list-style: none;
    margin-left:-118px;


}
.li2{
    display: inline-block;
    margin-top: 12px;
    margin-left: 86px;
    text-align: center;
}
.d2{
    font-size:22px;
    color:white;
    font-family: "Gotham";
    font-weight:bold;
}
.d3{
    margin-top:12px;
    font-size:13px;
    color:white;
    font-family: "Gotham";

}
.li3{
    margin-left:610px;
    margin-top:-55px;
}
.btn{
    width: 206px;
    height: 43px;
    color:white;
    background-color: transparent;
    font-size:14px;
    font-family:"Gotham";
    font-weight: bold;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius:5px;
}
.btn:hover{
    background-color: white;
    color:black;
    cursor:pointer;
    transition-duration: 1.5s;
}
.li1.hover{
    cursor: pointer;
    background-color: rgba(240,248,255,0.2);
    box-shadow: 0px 0px 5px 10px rgba(240,248,255,0.2);
    transition-duration: 1s;
}